.sign-up-button {
  display: inline-flex;
  align-self: baseline;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 22px;
  border-color: transparent;
  cursor: pointer;
  line-height: 18px;
  width: 100px;
  margin: auto;
  transition: 0.3s ease;
}

.sign-up-button:hover {
  background-color: #f7f7f7;
}

.sign-up-form {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 21px;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  position: relative;
}

.modal-title-signup {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
  padding: 30px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.signup-divider {
  padding: 30px
}

.signup-title-welcome {
  font-size: 22px;
  font-weight: 500;
}

.signup-errors-container {
  padding: 20px 20px 20px 0px;
  color: red;
}

.signup-title {
  font-size: 16px;
  font-weight: 700;
}

.label-1 {
  font-size: 12px;
  font-weight: 800;
  color: rgb(193, 53, 21);
}

.sign-up-input {
  min-width: 300px;
  width: 500px;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px;
  background-color: transparent;
  border: 1px solid #484848;
}

.signup-close {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: none;
  color: rgb(34 34 34);
  background-color: transparent;
  position: absolute;
  top: 30px;
  left: 30px;
  transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s;
  cursor: pointer;
}

.modal-body-signup {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  position: relative;
  border-radius: 20px;
}

.sign-up-submit-button {
  margin-top: 10px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  display: block;
  align-self: center;
  width: 500px;
  height: 40px;
  min-width: 300px;
  border: none;
  background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
}
